**Proyecto Shark**

Primero importamos las librerías que vamos a usar

In [9]:
import pandas as pd
%pip install xlrd

Requirement already satisfied: xlrd in c:\users\tachi\appdata\local\programs\python\python313\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Creamos y cargamos el dataset de trabajo en base al excel de Shark Tank

In [10]:
df = pd.read_excel("GSAF5.xls") 

print("¡Archivo cargado con éxito!")
print(df.head())

¡Archivo cargado con éxito!
            Date    Year        Type            Country  \
0   10th January  2026.0  Unprovoked          Australia
1    8th January  2026.0  Unprovoked  US Virgin Islands
2   3rd January   2026.0  Unprovoked      New Caledonia
3  21st December  2025.0  Unprovoked                USA
4  12th December  2025.0  Unprovoked                USA

                          State                     Location      Activity  \
0                           NSW                 Avalon Beach       Surfing
1  Fredricksted Island St Croix                 Dorsch Beach    Snorkeling
2                          Kélé  Between Bourail and Moindou  Scuba Diving
3                    California   Lovers Point Pacific Grove      Swimming
4      Sonoma County California                 Salmon Creek       Surfing

            Name Sex Age  ...                     Species   \
0   Paul Stanton   M   ?  ...                      Unknown
1  Arlene Lillis   F  56  ...                     Unknown
2        Unknown   M   ?  ...                      Unknown
3      Erica Fox   F  55  ...            Great White Shark
4        Unknown   M   ?  ...  Suspected Great White Shark

                                              Source  pdf href formula href  \
0                                     Bob Myatt GSAF  NaN          NaN  NaN
1       Todd Smith: KevinMcMurray Trackingsharks.com  NaN          NaN  NaN
2                         Andy Currie: Province Sud:  NaN          NaN  NaN
3  Kevin McMurray Tracking sharks.com: Ralph Coll...  NaN          NaN  NaN
4  Kevin McMurray Tracking sharks.com:Andrew Curr...  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]

Veamos una descripción inicial del dataset, sin limpiar nada:

In [11]:
df.describe()

              Year  original order
count  7063.000000     6799.000000
mean   1935.890981     3401.152081
std     270.825801     1963.076319
min       0.000000        2.000000
25%    1948.000000     1701.500000
50%    1986.000000     3401.000000
75%    2010.000000     5100.500000
max    2026.000000     6802.000000

Generamos una vista general del dataset a través de una función:

In [12]:
def observacion(x):
    print("Información del DataFrame:")
    print(x.info())
    print("Descripción estadística:")
    print(x.describe())
    print("Valores nulos:")
    print(x.isnull().sum())
    print("Tipos de datos:")
    print(x.dtypes)
    print("Primeras 5 filas:")
    print(x.head())
    print("Últimas 5 filas:")
    print(x.tail())
    print("Forma del DataFrame:")
    print(x.shape)
    print("columnas")
    print(x.columns)

In [13]:
analisis = observacion(df)
print(analisis)

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7065 entries, 0 to 7064
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7065 non-null   object
 1   Year            7063 non-null   float64
 2   Type            7047 non-null   object
 3   Country         7015 non-null   object
 4   State           6578 non-null   object
 5   Location        6498 non-null   object
 6   Activity        6480 non-null   object
 7   Name            6846 non-null   object
 8   Sex             6486 non-null   object
 9   Age             4070 non-null   object
 10  Injury          7030 non-null   object
 11  Fatal Y/N       6504 non-null   object
 12  Time            3538 non-null   object
 13  Species         3934 non-null   object
 14  Source          7045 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB
None
Descripción estadística:
              Year  original order
count  7063.000000     6799.000000
mean   1935.890981     3401.152081
std     270.825801     1963.076319
min       0.000000        2.000000
25%    1948.000000     1701.500000
50%    1986.000000     3401.000000
75%    2010.000000     5100.500000
max    2026.000000     6802.000000
Valores nulos:
Date                 0
Year                 2
Type                18
Country             50
State              487
Location           567
Activity           585
Name               219
Sex                579
Age               2995
Injury              35
Fatal Y/N          561
Time              3527
Species           3131
Source              20
pdf                266
href formula       271
href               269
Case Number        267
Case Number.1      268
original order     266
Unnamed: 21       7064
Unnamed: 22       7063
dtype: int64
Tipos de datos:
Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object
Primeras 5 filas:
            Date    Year        Type            Country  \
0   10th January  2026.0  Unprovoked          Australia
1    8th January  2026.0  Unprovoked  US Virgin Islands
2   3rd January   2026.0  Unprovoked      New Caledonia
3  21st December  2025.0  Unprovoked                USA
4  12th December  2025.0  Unprovoked                USA

                          State                     Location      Activity  \
0                           NSW                 Avalon Beach       Surfing
1  Fredricksted Island St Croix                 Dorsch Beach    Snorkeling
2                          Kélé  Between Bourail and Moindou  Scuba Diving
3                    California   Lovers Point Pacific Grove      Swimming
4      Sonoma County California                 Salmon Creek       Surfing

            Name Sex Age  ...                     Species   \
0   Paul Stanton   M   ?  ...                      Unknown
1  Arlene Lillis   F  56  ...                     Unknown
2        Unknown   M   ?  ...                      Unknown
3      Erica Fox   F  55  ...            Great White Shark
4        Unknown   M   ?  ...  Suspected Great White Shark

                                              Source  pdf href formula href  \
0                                     Bob Myatt GSAF  NaN          NaN  NaN
1       Todd Smith: KevinMcMurray Trackingsharks.com  NaN          NaN  NaN
2                         Andy Currie: Province Sud:  NaN          NaN  NaN
3  Kevin McMurray Tracking sharks.com: Ralph Coll...  NaN          NaN  NaN
4  Kevin McMurray Tracking sharks.com:Andrew Curr...  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]
Últimas 5 filas:
             Date  Year        Type             Country              State  \
7060  Before 1903   0.0  Unprovoked           AUSTRALIA  Western Australia
7061  Before 1903   0.0  Unprovoked           AUSTRALIA  Western Australia
7062    1900-1905   0.0  Unprovoked                 USA     North Carolina
7063    1883-1889   0.0  Unprovoked              PANAMA                NaN
7064    1845-1853   0.0  Unprovoked  CEYLON (SRI LANKA)   Eastern Province

                                 Location      Activity  \
7060                          Roebuck Bay        Diving
7061                                  NaN  Pearl diving
7062                       Ocracoke Inlet      Swimming
7063                 Panama Bay 8ºN, 79ºW           NaN
7064  Below the English fort, Trincomalee      Swimming

                       Name Sex  Age  ... Species   \
7060                   male   M  NaN  ...      NaN
7061                  Ahmun   M  NaN  ...      NaN
7062  Coast Guard personnel   M  NaN  ...      NaN
7063        Jules Patterson   M  NaN  ...      NaN
7064                   male   M   15  ...      NaN

                                     Source                             pdf  \
7060       H. Taunton; N. Bartlett,  p. 234          ND-0005-RoebuckBay.pdf
7061  H. Taunton; N. Bartlett,  pp. 233-234               ND-0004-Ahmun.pdf
7062   F. Schwartz, p.23; C. Creswell, GSAF  ND-0003-Ocracoke_1900-1905.pdf
7063                    The Sun, 10/20/1938      ND-0002-JulesPatterson.pdf
7064                             S.W. Baker              ND-0001-Ceylon.pdf

                                           href formula  \
7060  http://sharkattackfile.net/spreadsheets/pdf_di...
7061  http://sharkattackfile.net/spreadsheets/pdf_di...
7062  http://sharkattackfile.net/spreadsheets/pdf_di...
7063  http://sharkattackfile.net/spreadsheets/pdf_di...
7064  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
7060  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7061  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7062  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7063  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7064  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
7060       ND.0005            6.0         NaN         NaN
7061       ND.0004            5.0         NaN         NaN
7062       ND.0003            4.0         NaN         NaN
7063       ND.0002            3.0         NaN         NaN
7064       ND.0001            2.0         NaN         NaN

[5 rows x 23 columns]
Forma del DataFrame:
(7065, 23)
columnas
Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')
None

**HIPOTESIS**

1. Australia y EEUU son los países con más ataques. Aquí nos interesa ampliar info  por estado y locación y fatales.(Variables: Country, State, Location, Fatal Y/N)

Primero haremos una función para analizar los datos y las variables categóricas del excel.

In [34]:
def anali(x):
    print(x.value_counts())
    print(x.unique())
    print(x.nunique())

Ahora solo tomaremos las variables necesarias para la hipotesis a trabajar, quedando un dataset más manejable.

In [33]:
df1=df[['Country','State','Location','Fatal Y/N']]
df1

,Country,State,Location,Fatal Y/N
0,Australia,NSW,Avalon Beach,N
1,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Y
2,New Caledonia,Kélé,Between Bourail and Moindou,N
3,USA,California,Lovers Point Pacific Grove,Y
4,USA,Sonoma County California,Salmon Creek,N
...,...,...,...,...
7060,AUSTRALIA,Western Australia,Roebuck Bay,Y
7061,AUSTRALIA,Western Australia,NaN,Y
7062,USA,North Carolina,Ocracoke Inlet,Y
7063,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",Y
7064,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Y

veremos el analisis con la función que creamos anteriormente para limpiar datos y analizar las variables de la hipotesis.

In [32]:
anali(df1['Country'])

Country
USA                   2578
AUSTRALIA             1482
SOUTH AFRICA           597
NEW ZEALAND            144
BAHAMAS                136
                      ...
BAHREIN                  1
KOREA                    1
RED SEA?                 1
ASIA?                    1
CEYLON (SRI LANKA)       1
Name: count, Length: 251, dtype: int64
['Australia' 'US Virgin Islands' 'New Caledonia' 'USA' 'French Polynesia'
 'Samoa' 'Columbia' 'Costa Rica' 'Bahamas' 'Puerto Rico' 'Spain'
 'Canary Islands' 'South Africa' 'Vanuatu' 'Jamaica' 'Israel' 'Mexico'
 'Maldives' 'Philippines' 'Turks and Caicos' 'Mozambique' 'Egypt'
 'Thailand' 'New Zealand' 'Hawaii' 'Honduras' 'Indonesia' 'Morocco'
 'Belize' 'Maldive Islands' 'Tobago' 'AUSTRALIA' 'INDIA' 'TRINIDAD'
 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO' 'NEW ZEALAND' 'EGYPT' 'BELIZE'
 'PHILIPPINES' 'Coral Sea' 'SPAIN' 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR'
 'FRENCH POLYNESIA' 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL'
 'SEYCHELLES' 'ARGENTINA' 'FIJI' 'MeXICO' 'ENGLAND' 'JAPAN' 'INDONESIA'
 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'British Overseas Territory' 'CANADA' 'JORDAN' 'ST KITTS / NEVIS'
 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND' 'ISRAEL' 'CHINA'
 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan 'MAURITIUS' 'SOLOMON ISLANDS'
 'ST HELENA, British overseas territory' 'COMOROS' 'REUNION'
 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON'
 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA'
 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']
251

Creamos una función de limpieza para las variables borrando los espacios en blanco y convirtiendo a mayúsculas

In [24]:
def limpiar(x):
    df_limpia = x.astype(str).str.replace('', '', regex=False).str.upper().str.strip()
    
    print(df_limpia.value_counts())
    print(df_limpia.nunique())
    return df_limpia

Como la variable Country tiene valores con el signo ?, vamos a crear una función para limpie esos datos

In [25]:
def interrogar(x):
   df_limpia2=x.astype(str).str.replace('?', '', regex=False).str.upper()
   print(df_limpia2.value_counts())
   print(df_limpia2.nunique())
   return df_limpia2

In [26]:
limpieza1=limpiar(df1['Country'])

Country
USA                   2578
AUSTRALIA             1516
SOUTH AFRICA           599
NEW ZEALAND            146
BAHAMAS                141
                      ...
BAHREIN                  1
KOREA                    1
RED SEA?                 1
ASIA?                    1
CEYLON (SRI LANKA)       1
Name: count, Length: 214, dtype: int64
214

In [27]:
limpieza_final=interrogar(limpieza1)
print(limpieza_final)

Country
USA                   2578
AUSTRALIA             1516
SOUTH AFRICA           599
NEW ZEALAND            146
BAHAMAS                141
                      ...
DJIBOUTI                 1
BAHREIN                  1
KOREA                    1
ASIA                     1
CEYLON (SRI LANKA)       1
Name: count, Length: 211, dtype: int64
211
0                AUSTRALIA
1        US VIRGIN ISLANDS
2            NEW CALEDONIA
3                      USA
4                      USA
               ...
7060             AUSTRALIA
7061             AUSTRALIA
7062                   USA
7063                PANAMA
7064    CEYLON (SRI LANKA)
Name: Country, Length: 7065, dtype: object

Ahora vamos a limpiar la columna Fatal y N/Y:

2. Las actividades deportivas como el surf tienen más riesgo que las actividades de los bañistas. Aquí nos interesa ampliar en que horario hay más riesgo. (Variables: Activity, Fatal Y/N, Time)

## Limpieza de Fatal N/Y

Como la variable Fatal Y/N tiene valores diferentes a "Y" y "N", hacemos una función que convierta todo a mayúsculas, elimine los espacios extra y filtre solo los resultados válidos (Y/N):

In [ ]:
def clean_yes_no_column(df, column_name):

    df_clean = df.copy()
    
    df_clean[column_name] = df_clean[column_name].astype(str).str.upper().str.strip()
    
    df_clean = df_clean[df_clean[column_name].isin(["Y", "N"])]
    
    print(f"Valores únicos en '{column_name}':", df_clean[column_name].unique())
    
    return df_clean

In [ ]:
df_clean = df.copy()

df_clean["Fatal Y/N"] = df_clean["Fatal Y/N"].astype(str).str.upper().str.strip()

df_clean = df_clean[df_clean["Fatal Y/N"].isin(["Y", "N"])]

print(df_clean["Fatal Y/N"].unique())

['N' 'Y']

3.Los ataques no provocados son más frecuentes y, además, presentan una mayor proporción de casos no fatales que los ataques provocados. (Variables: Type, Fatal Y/N)

Creamos el dataset de trabajo para el análisis de Type y Fatal Y/N:

In [29]:
df3 = df[["Type","Fatal Y/N"]]
df3.head()

         Type Fatal Y/N
0  Unprovoked         N
1  Unprovoked         Y
2  Unprovoked         N
3  Unprovoked         Y
4  Unprovoked         N

Analizamos en la función el Type

In [35]:
anali(df3["Type"])

Type
Unprovoked             5217
Provoked                641
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             26
Boat                      7
 Provoked                 2
unprovoked                1
Unconfirmed               1
?                         1
Unverified                1
Under investigation       1
Name: count, dtype: int64
['Unprovoked' 'Provoked' 'Questionable' 'unprovoked' ' Provoked'
 'Watercraft' 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']
13

Ahora limpiamos la columna Type con la función de limpieza:

In [36]:
limpieza_type = limpiar(df3["Type"])
print(limpieza_type)

Type
UNPROVOKED             5218
PROVOKED                643
INVALID                 552
WATERCRAFT              355
SEA DISASTER            242
QUESTIONABLE             26
NAN                      18
BOAT                      7
UNCONFIRMED               1
?                         1
UNVERIFIED                1
UNDER INVESTIGATION       1
Name: count, dtype: int64
12
0       UNPROVOKED
1       UNPROVOKED
2       UNPROVOKED
3       UNPROVOKED
4       UNPROVOKED
           ...
7060    UNPROVOKED
7061    UNPROVOKED
7062    UNPROVOKED
7063    UNPROVOKED
7064    UNPROVOKED
Name: Type, Length: 7065, dtype: object

In [37]:
limpieza_typefinal=interrogar(limpieza_type)
print(limpieza_typefinal)

Type
UNPROVOKED             5218
PROVOKED                643
INVALID                 552
WATERCRAFT              355
SEA DISASTER            242
QUESTIONABLE             26
NAN                      18
BOAT                      7
UNCONFIRMED               1
                          1
UNVERIFIED                1
UNDER INVESTIGATION       1
Name: count, dtype: int64
12
0       UNPROVOKED
1       UNPROVOKED
2       UNPROVOKED
3       UNPROVOKED
4       UNPROVOKED
           ...
7060    UNPROVOKED
7061    UNPROVOKED
7062    UNPROVOKED
7063    UNPROVOKED
7064    UNPROVOKED
Name: Type, Length: 7065, dtype: object

In [38]:
anali(limpieza_typefinal)

Type
UNPROVOKED             5218
PROVOKED                643
INVALID                 552
WATERCRAFT              355
SEA DISASTER            242
QUESTIONABLE             26
NAN                      18
BOAT                      7
UNCONFIRMED               1
                          1
UNVERIFIED                1
UNDER INVESTIGATION       1
Name: count, dtype: int64
['UNPROVOKED' 'PROVOKED' 'QUESTIONABLE' 'WATERCRAFT' 'SEA DISASTER' 'NAN'
 '' 'UNCONFIRMED' 'UNVERIFIED' 'INVALID' 'UNDER INVESTIGATION' 'BOAT']
12