In [1]:
import pandas as pd
%pip install xlrd

Requirement already satisfied: xlrd in c:\users\tachi\appdata\local\programs\python\python313\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
df = pd.read_excel("GSAF5.xls") 

print("¡Archivo cargado con éxito!")
print(df.head())

¡Archivo cargado con éxito!
            Date    Year        Type            Country  \
0   10th January  2026.0  Unprovoked          Australia
1    8th January  2026.0  Unprovoked  US Virgin Islands
2   3rd January   2026.0  Unprovoked      New Caledonia
3  21st December  2025.0  Unprovoked                USA
4  12th December  2025.0  Unprovoked                USA

                          State                     Location      Activity  \
0                           NSW                 Avalon Beach       Surfing
1  Fredricksted Island St Croix                 Dorsch Beach    Snorkeling
2                          Kélé  Between Bourail and Moindou  Scuba Diving
3                    California   Lovers Point Pacific Grove      Swimming
4      Sonoma County California                 Salmon Creek       Surfing

            Name Sex Age  ...                     Species   \
0   Paul Stanton   M   ?  ...                      Unknown
1  Arlene Lillis   F  56  ...                     Unknown
2        Unknown   M   ?  ...                      Unknown
3      Erica Fox   F  55  ...            Great White Shark
4        Unknown   M   ?  ...  Suspected Great White Shark

                                              Source  pdf href formula href  \
0                                     Bob Myatt GSAF  NaN          NaN  NaN
1       Todd Smith: KevinMcMurray Trackingsharks.com  NaN          NaN  NaN
2                         Andy Currie: Province Sud:  NaN          NaN  NaN
3  Kevin McMurray Tracking sharks.com: Ralph Coll...  NaN          NaN  NaN
4  Kevin McMurray Tracking sharks.com:Andrew Curr...  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]

In [3]:
df.describe()

              Year  original order
count  7063.000000     6799.000000
mean   1935.890981     3401.152081
std     270.825801     1963.076319
min       0.000000        2.000000
25%    1948.000000     1701.500000
50%    1986.000000     3401.000000
75%    2010.000000     5100.500000
max    2026.000000     6802.000000